<html>
	<body>
		<h2>Special Promotion Just for You!</h2>
		<p>Dear <%= name %>,</p>
		<p>We are excited to offer you an exclusive promotion. Check out our latest products and enjoy special discounts!</p>
		<p>Visit our website for more details.</p>
	</body>
</html>
